@model ViewModel.ProductViewModel
<div class="container">
    <form asp-action="Edit" enctype="multipart/form-data" asp-controller="Product" method="post">
        <div class="row pt-4 pb-3">

            @if (Model == null)
            {
                <div class="col-6">
                    <h2 class="text-primary">
                        新增產品
                    </h2>
                </div>
            }
            else
            {
                <div class="col-6">
                    <h2 class="text-primary">
                        修改產品
                    </h2>
                </div>

                <div hidden class="mb-3">
                    <label asp-for="Id" class="form-label"></label>
                    <input asp-for="Id" class="form-control" aria-required="true" />
                </div>

                <div class="col-2">
                    <img class="mt-4" src="/@Model.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            }

        </div>
        
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" aria-required="true" />
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control" aria-required="true" />
        </div>

        <div class="mb-3">
            <label asp-for="Size" class="form-label"></label>
            <input asp-for="Size" class="form-control" aria-required="true" />
        </div>

        <div class="mb-3">
            <label asp-for="Weight" class="form-label"></label>
            <input asp-for="Weight" class="form-control" aria-required="true" />
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label">產品類別</label> 
            <select asp-for="CategoryId" asp-items="@Model.CategoryOptions" class="form-select" aria-label="Default select example">
                <option value="">-- 請選擇產品類別 --</option> @* 這是預設的提示選項 *@
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="ImageUrl" class="p-0"></label>
            <input type="file" name="file" asp-for="ImageUrl" class="form-control" />
        </div>
        
        <div class="col-12">
            @if (Model == null)
            {
                <button type="submit" class="btn btn-primary">新增</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">修改</button>
            }

            <a class="btn btn-light" asp-controller="Product" asp-action="ProductList">返回</a>
        </div>

    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}