@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card">
            <img src="~/images/1.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">商品1</h5>
                <p class="card-text">好喝的水</p>
                <a href="#" class="btn btn-primary">加入購物車</a>
                @*如果沒登入*@
                <!--
                <a href="#" class="btn btn-primary">立即登入</a>
                -->
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/1.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">商品1</h5>
                <p class="card-text">好喝的水</p>
                <a href="#" class="btn btn-primary">加入購物車</a>
                @*如果沒登入*@
                <!--
                <a href="#" class="btn btn-primary">立即登入</a>
                -->
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/1.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">商品1</h5>
                <p class="card-text">好喝的水</p>
                <a href="#" class="btn btn-primary">加入購物車</a>
                @*如果沒登入*@
                <!--
                <a href="#" class="btn btn-primary">立即登入</a>
                -->
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/1.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">商品1</h5>
                <p class="card-text">好喝的水</p>
                <a href="#" class="btn btn-primary">加入購物車</a>
                @*如果沒登入*@
                <!--
                <a href="#" class="btn btn-primary">立即登入</a>
                -->
            </div>
        </div>
    </div>
</div>
<div>
    &nbsp;
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card">
            <img src="~/images/1.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">商品1</h5>
                <p class="card-text">好喝的水</p>
                <a href="#" class="btn btn-primary">加入購物車</a>
                @*如果沒登入*@
                <!--
                <a href="#" class="btn btn-primary">立即登入</a>
                -->
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/images/1.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">商品1</h5>
                <p class="card-text">好喝的水</p>
                <a href="#" class="btn btn-primary">加入購物車</a>
                @*如果沒登入*@
                <!--
                <a href="#" class="btn btn-primary">立即登入</a>
                -->
            </div>
        </div>
    </div>
     
</div>

 