@model ViewModel.CategoryViewModel

<div class="container">
    <form asp-action="Edit" asp-controller="Category" method="post">
        <div class="row pt-4 pb-3">
        
        @if (Model == null)
        {
            <div class="col-6">
                <h2 class="text-primary">
                    新增類別
                </h2>
            </div>
        }
        else
        {
            <div class="col-6">
                <h2 class="text-primary">
                    修改類別
                </h2>
            </div>

            <div hidden  class="mb-3">
                <label asp-for="Id" class="form-label"></label>
                <input asp-for="Id" class="form-control" aria-required="true" />
            </div>
        }
         
    </div>
    
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label> 
            <input asp-for="Name" class="form-control"  aria-required="true" /> 
        </div>
        <div class="mb-3">
            <label asp-for="OrderBy" class="form-label"></label>
            <input asp-for="OrderBy" class="form-control"  aria-required="true" /> 
        </div>
        <div class="col-12">
            @if(Model == null)
            {
                <button type="submit" class="btn btn-primary">新增</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">修改</button> 
            }
            
            <a class="btn btn-light" asp-controller="Category" asp-action="Index">返回</a>
        </div>

    </form>

</div>