<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card">
            <img src="~/Images/1.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">影片1</h5>
                <p class="card-text">影片介紹</p>
                <a asp-controller="VideoPlayer" asp-action="PlayVIdeo" class="btn btn-primary">觀看影片</a>
                
            </div>
        </div>
    </div>
    
</div>